# .gitignore

# Broker Ignore
*.db
*.gcda
*.gcno
*.exe
*.o
*.old
*.pyc
*.so
*.vglog
callgrind.out.*
dhat.out.*
massif.out.*
vglog*

broker/mosquitto-2.0.18/apps/db_dump/mosquitto_db_dump
broker/mosquitto-2.0.18/apps/mosquitto_ctrl/mosquitto_ctrl
broker/mosquitto-2.0.18/apps/mosquitto_passwd/mosquitto_passwd

broker/mosquitto-2.0.18/client/mosquitto_pub
broker/mosquitto-2.0.18/client/mosquitto_rr
broker/mosquitto-2.0.18/client/mosquitto_sub

# Track db, logs, and pid folders, but not their contents
broker/db/*
!broker/db/.gitkeepdb

broker/logs/*
!broker/logs/.gitkeeplogs

broker/pid/*
!broker/pid/.gitkeeppid

broker/mosquitto-2.0.18/src/mosquitto
# Python Client Ignore

prototype/dev/

# IDE Ignores
.vscode/c_cpp_properties.json
.vscode/settings.json
ToDo.md
